.input-html {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align : center;
	margin : 0;
	font: 12px Arial;
}

.input-html .chart-visual-container path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.input-html .chart-visual-container  {
	position : relative;
	bottom : 260px;
}

.input-html .axis path,
.input-html .axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.input-html .legend {
	font-size: 16px;
	font-weight: bold;
	text-anchor: middle;
}

.input-html .target-gauge {
	display : inline-block;
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.input-html .pointer {
	fill: navy;
	stroke: navy;
}

.input-html .pointerTwo {
	fill: steelblue;
	stroke: steelblue;
}

.input-html .target-gauge g.label text {
	text-anchor: middle;
	font-size: 18px;
	font-weight: bold;
	fill: black;
}

.input-html .current-gauge {
	display : inline-block;
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif
}

.input-html .current-gauge g.label text {
	text-anchor: middle;
	font-size: 18px;
	font-weight: bold;
	fill: black;
}

.input-html #mobile-target-gauge {
	display : inline-block;
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.input-html #mobile-current-gauge {
	display : inline-block;
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
	position : relative;
	bottom : 120px;
}

.input-html #tablet-target-gauge {
	display : inline-block;
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.input-html #tablet-current-gauge {
	display : inline-block;
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.input-html #desktop-target-gauge {
	display : inline-block;
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.input-html #desktop-current-gauge {
	display : inline-block;
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.input-html .arc-title {
font-size : 30px;
}

.input-html .target-title {
font-size : 20px;
color : navy;
}

.input-html .current-title {
font-size : 20px;
color : steelblue;
}

.input-html .target-label {
font-size : 20px;
color : navy;
}

.input-html .current-label {
font-size : 20px;
color : steelblue;
}

.input-html #mobile-now {
	display : inline-block;
	position : relative;
}

.input-html #tablet-now {
	display : none;
	position : relative;
}

.input-html #desktop-now {
	display : none;
	position : relative;
}

.input-html .gauge-labels {
	display : none;
}

.input-html .temperature-label {
	font-size : 20px;
	color : red;
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif
}

.input-html .chart-labels {
	position : relative;
text-align : center;
bottom : 230px;
display : none;
}

.input-html .cooker-target-temp-label {
		color : red;
		display : inline-block;
		vertical-align: top;

		font-size : 20px;
		margin-right : 10px;
}

.input-html .cooker-current-temp-label {
	color : orange;
	display : inline-block;
	vertical-align: top;

	font-size : 20px;
	margin-right : 10px;
}

.input-html .meat-target-temp-label {
	color : blue;
	display : inline-block;
	vertical-align: top;

	font-size : 20px;
	margin-right : 10px;
}

.input-html .meat-current-temp-label {
	color : green;
	display : inline-block;
	vertical-align: top;

	font-size : 20px;
	margin-right : 10px;
}

.input-html .blower-on-label {
	color : grey;
	display : inline-block;
	vertical-align: top;
	font-size : 20px;
}

@media screen and (min-width: 700px){

.input-html  .chart-visual-container  {
	bottom : 140px;
}

.input-html .chart-labels {
	bottom : 130px;
	display : none;
}


.input-html #mobile-now {
	display : none;
	position : relative;
}

.input-html #tablet-now {
	display : block;
	position : relative;
}

.input-html #desktop-now {
	display : none;
	position : relative;
}
}

@media screen and (min-width: 1024px){

.input-html .chart-visual-container  {
	bottom : 170px;
}

.input-html .chart-labels {
	bottom : 150px;
	display : none;
}

.input-html #mobile-now {
	display : none;
	position : relative;
}

.input-html #tablet-now {
	display : none;
	position : relative;
}

.input-html #desktop-now {
	display : block;
	position : relative;
}
}
